a {
	text-decoration: none;
}

nav ul li {
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 25px;
    border: 1px solid #183f49;
    padding: 10px;
}

.navbar {
	margin-top: 20%;
	margin-left: 31%;
}