a, a:visited, a:active {
	text-decoration: none;
	color: #000000;
	-o-transition:.5s;
	-ms-transition:.5s;
	-moz-transition:.5s;
	-webkit-transition:.5s;
}

a:hover {
	color: #808080;
}

nav ul li {
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    padding: 7px;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
}

#siteheader {
	float: right;
	margin-right: 6%;
	margin-top: 5%;
	height: 35%;
	width: 35%;
}

#navbar {
	float: left;
	text-align: left;
	margin-top: 5%;
	margin-left: 3%;
}

#copyright {
	font-size: 75%;
	position: fixed;
	left: 50%;
	bottom: 20px;
	transform: translate(-50%, -50%);
	margin: 0 auto;
}

.blurb {
	width: 525px;
	height: 25em;
	overflow: hidden;
	padding-right: 5%;
	margin-left: 10%;
}

.blurb:hover {
	overflow-y: scroll;
}

::-webkit-scrollbar {
    background: transparent;
}