a, a:visited, a:active {
	text-decoration: none;
	color: #000000;
}

nav ul li {
    display: inline;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 35px;
    padding: 7px;
}

h1 {
	font-family: 'Josefin Sans', sans-serif;
}

.siteheader {
	margin: auto;
	margin-top: 2%;
	height: 27%;
	width: 27%;
}

.navbar {
	text-align: center;
	margin-top: 2%;
	margin-right: 3.7%;
}

.cpost {
	text-align: center;
	margin-top: 2%;
}