<!DOCTYPE html>
<html>
	<head>

		<meta charset="utf-8">
    	<meta http-equiv="X-UA-Compatible" content="IE=edge">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	
    	<title>caroline swinyer — {{ page.title }}</title>
		
		<link rel="stylesheet" type="text/css" href="css/custom.css">
		<link href="https://fonts.googleapis.com/css?family=Josefin+Sans:300" rel="stylesheet"> 
	
	</head>
	<body>

		<div id="siteheader">
			<img src="https://raw.githubusercontent.com/thisiscaroline/thisiscaroline.github.io/master/css/site%20-%20header%20v01.png" style="height:100%; width:100%;">
		</div>

		<div id="navbar">
			<nav>
				<ul>
					<li><a href="/">home</a></li>
					<li><a href="/about">about</a></li>
					<li><a href="/skills">skills</a></li>
					<li><a href="/resume">résumé</a></li>
					<li><a href="/contact">contact</a></li>
				</ul>
			</nav>
			
			<div class="container">
				{{ content }}
			</div>
		</div>

		<div id="copyright">
			<footer>
				<p>Copyright 2016 Caroline Swinyer.</p>
			</footer>
		</div>

	</body>
</html>